@model SignalrUser
@{
    ViewData["Title"] = "EditProfile";
}


<h2>EditUserProfile</h2>

<div id="avatar-container">
    <input type="file" id="uploadFile" value="Choose a file" accept="image/*" data-role="none" style="display: none" />
    
    <div class="col-1-2" style="text-align: center;" id="displayAvatar">
        @{
            string imageName = Model.CropAvatar == null ? "default/FullAvatar.png" : Model.CropAvatar.Path;
        }
        <img id="avatarCropImg" src="@(Url.Content("~/images/avatars/")+imageName)" style="margin: auto;  max-width:300px; max-height:300px; margin-bottom: 20px"
             alt="" class="img-rounded img-responsive"/>
        <button id="editAvatarBtn" class="btn btn-primary">Edit</button>
    </div>

    <div class="col-1-2" style="margin: 0 auto;display:none;" id="editAvatar">
        <div id="uploadMsg" class="upload-msg">
            Click to upload avatar
        </div>

        <div id="upload-avatar"></div>
        <div class="buttons" style="margin:0 auto;display:table;">
            <button id="doneAvatarBtn" class="btn btn-success">Done</button>
            <button id="cancelAvatarBtn" class="btn btn-danger">Cancel</button>

        </div>
    </div>
</div>


<img id="img_sample" src="" style="max-width:200px" />

<form id="ProfileInfoForm" onsubmit="return SaveProfile();"  enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="@Model.Id" />
    <div class="form-group">
        <label asp-for="@Model.BirthDate" class="control-label"></label>
        <input asp-for="@Model.BirthDate" class="form-control" />
        <span asp-validation-for="@Model.BirthDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-default" />
    </div>
</form>

@section scripts{
    <script src="~/lib/croppie/croppie.js"></script>
    <script>

        var $uploadCrop;
        var $updateAvatar = false;
        var $avatarBlob;

        function clearCroppie() {
            $('#upload-avatar').croppie('destroy');
            $uploadCrop = null;
            $('#uploadMsg').css('display', 'block');
        }

        function setUpCroppie() {
            $uploadCrop = $('#upload-avatar').croppie({
                viewport: {
                    width: 200,
                    height: 200,
                    type: 'square'
                },
                boundary: {
                    width: 500,
                    height: 500
                },
                enableResize: true,
            });
        }

        $("#uploadMsg").click(function() {
            $("#uploadFile").trigger('click');
        });

        $('#uploadFile').on('input', uploadFileChange);

        function uploadFileChange() {
            readFile(this);

            $(this).remove();
            $(
                    " <input type='file' id='uploadFile' value='Choose a file' accept='image/*' data-role='none' style='display: none' />")
                .on('input', uploadFileChange).appendTo($("#avatar-container"));
        }

        $("#editAvatarBtn").click(function() {
            $('#editAvatar').css('display', 'table');
            $('#displayAvatar').css('display', 'none');
        });

        $("#doneAvatarBtn").click(function() {

            console.log($uploadCrop);

   
            $uploadCrop.croppie('result',
                {
                    type: 'base64',
                    size: 'origonal'
                }).then(function(resp) {

                $("#avatarCropImg").attr("src", resp);

                $uploadCrop.croppie('result',
                    {
                        type: 'blob',
                        size: 'original'
                    }).then(function(resp) {
                    console.log('sd' + resp);
                    $avatarBlob = resp;
                    $updateAvatar = true;

                    $('#editAvatar').css('display', 'none');
                    $('#displayAvatar').css('display', 'block');
                    clearCroppie();
                });
            });

        });

        $("#cancelAvatarBtn").click(function() {
            $('#editAvatar').css('display', 'none');
            $('#displayAvatar').css('display', 'block');
            clearCroppie();
        });
        
        function readFile(input) {
            if (input.files && input.files[0]) {
                if (/^image/.test(input.files[0].type)) {
                    clearCroppie();
                    setUpCroppie();

                    var reader = new FileReader();
                    reader.onload = function(e) {
                        $('#uploadMsg').css('display', 'none');

                        $uploadCrop.croppie('bind',
                            {
                                url: e.target.result
                            }).then(function() {
                            console.log('jQuery bind complete');
                        });
                    }
                    reader.readAsDataURL(input.files[0]);
                } else {
                    alert("You may only select image files");
                }
            } else {

            }
        }
        
        var info;

        function SaveProfile() {

            var fd = new FormData(document.querySelector('#ProfileInfoForm'));
            if ($updateAvatar) {
                fd.append('Avatar', $avatarBlob);
            }

            $.ajax({
                type: 'POST',
                url: '@Url.Action("SaveProfile")',
                contentType: false,
                processData: false,
                data: fd,
                success: function(response) {
                    window.location.href = "@Url.Action("Profile", new {Id = Model.Id})";
                },
            });

            return false;
        }

        $(document).ready(function() {
        });
    </script>

}