@model SignalrUser
@{
    ViewData["Title"] = "Profile";
}

<div class="row " style="margin-top: 30px">
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
        @{
            string imageName = Model.CropAvatar == null ? "default/FullAvatar.png" : Model.CropAvatar.Path;
        }
        <img src="@(Url.Content("~/images/avatars/")+imageName)" style="margin: auto;"
             alt="" class="img-rounded img-responsive" />
    </div>
    <div class="col-sm-4">
        <div style=" margin: auto;">
            <blockquote>
                <p>@Model.UserName</p>
            </blockquote>
            <p>
                <b>Birth date: </b> @Model.BirthDate.ToString("dd MMMM yyyy")
                <br />
                <b>Created date: </b>  @Model.CreatingDate.ToString("dd MMM yyyy")
                <br />

                @if (User.Identity.Name == Model.UserName)
                {
                    <a href="@Url.Action("EditProfile",new {id = Model.Id})">Edit</a>

                }
            </p>
        </div>
    </div>
</div>
<div id="feedContent">

</div>

@section Scripts
    {
    <script src="~/lib/react/umd/react.development.js"></script>
    <script src="~/lib/react-dom/umd/react-dom.development.js"></script>

    <script src="~/js/React/FeedComponent.jsx"></script>
    <script src="~/js/React/Post.jsx"></script>
    <script src="~/js/React/PostForm.jsx"></script>
    <script src="~/js/React/PostsList.jsx"></script>
    <script>
        ReactDOM.render(
            React.createElement(FeedComponent,
                {
                    userId: '@Model.Id',
                    @{
                        string isAuth = User.Identity.IsAuthenticated?"true":"false";
                        string currentUsername = "";
                        if (User.Identity.IsAuthenticated)
                        {
                            currentUsername = User.Identity.Name;
                        }
                    }
                    isAuth: @isAuth,
                    currentUsername: '@currentUsername'
                }, null),
            document.getElementById('feedContent')
        );
    </script>
}
@section Styles
{
    <link rel="Stylesheet" type="text/css" href="@Url.Content("~/css/feed.css")">
}
